<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DE.C</title>
  <link rel="stylesheet" href="header.component.css">

</head>
<body>

  <h1><img src="../../../assets/imagens/Screenshot_1.png" alt="Logo De.C"></h1>
    <ul class="menu">
      <li> <a  routerLink="/"><strong>Home</strong></a> </li>
      <li> <a  routerLink="/notifications"><strong>Notificações</strong></a> </li>
      <li> <a  routerLink="/sos"><strong>SOS</strong></a> </li>
      <li> <a  routerLink="/addSafeHouse"><strong>Cadastrar Abrigo</strong></a> </li>
    </ul>


</body>
</html>





