<p>{{notification?.imgUrl}}</p>
<div class="">
    <h1> Pedidos de Socorro </h1>
        <div class="texto">
          <div class="titulo">Autor:</div><p class="dados">{{notification?.autor}}</p>
          <div class="titulo">Endereço:</div><p class="dados">{{notification?.endereco}}</p>
          <div class="titulo">Status:</div><p class="dados" id="status">Em resgate</p>
        </div>
        <div class="detalhes">
          <p class="titulo">Detalhes:</p>
          <p class="textoDetalhes"> Estrada interditada devido a forte chuvas, que impedem a passagem de carros
            e pessoas pela ponte
          </p>
          <img src="../../../../assets/imagens/ponte.jpg" alt="foto enviada">
        </div>
  </div>
